.aside-left {
    border: 10px solid #0b1275;
    margin: 10px;
  }
  
  .main {
    border: 10px solid #0b1275;
    margin: 10px;
  }
  
  .aside-right {
    border: 10px solid #0b1275;
    margin: 10px;
  }