@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
 font-size: 1.2em;
 color:#000;
 
}

header{
    margin: 0 auto;
    

}

h1{
    margin: 1rem;
    font-size: 1.5em;
    color:blueviolet;
    text-align: center;

}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 10px solid rgb(54, 64, 151);
    border-radius: 0.5rem;
    background-color: rgb(133, 236, 236);
    display:grid

}


label{
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size:1.1rem;
}


button{
    margin:1rem;
    background-color: rgb(132, 160, 220);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;

}

button:hover{
    background-color: rgb(13, 189, 175);
}

footer{
    margin: auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color:rgb(13, 189, 175);
    border-top: 5px solid #000;
    
    
}

